.about-us {
  background-color: $color-alice-blue;
  padding: 120px 7.5% 145px;

  @media screen and (max-width: 1023px) {
    padding: 100px 5.9% 95px;
  }

  @media screen and (max-width: 767px) {
    padding: 65px 4.7% 85.1px;
  }
}

.about-us__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;

  @media (min-width: 1024px) {
    max-width: 1160px;
  }

  @media screen and (max-width: 1023px) {
   // width: 678px;
   width: calc(678px + (100vw - 768px) * (678 - 900) / (768 - 1023));
    align-items: flex-start;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    width: calc(290px + (100vw - 320px) * (290 - 694) / (320 - 767));
    max-width: 694px;
  }
}

.about-us__text-wrapper {
  @media (min-width: 1366px) {
    min-width: 512px;
    margin-right: 88px;
  }

  width: calc(373px + (512 - 373) * ((100vw - 500px) / (1366 - 500)));
  max-width: 512px;
  margin-right: calc(40px + (100vw - 1024px) * (40 - 88) / (1024 - 1366));

  br {
    display: none;
  }

  @media (min-width: 1024px) {
    max-width: 512px;
  }

  @media screen and (max-width: 1023px) {
   // width: 324px;
   width: calc(324px + (100vw - 768px) * (324 - 430.9) / (768 - 1023));
    //margin-right: 30px;
    margin-right: 9.2%;
  }

  @media screen and (max-width: 767px) {
    width: calc(290px + (100vw - 320px) * (290 - 694) / (320 - 767));
    max-width: 731px;
    margin: 0;
    margin-bottom: 45px;

    br {
      display: block;
    }
  }
}

.about-us__title {
  font-family: "Montserrat Semibold", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  color: $color-tangaroa;
  margin: 0;
  margin-bottom: 23px;

  @media screen and (max-width: 1023px) {
    font-size: 26px;
    line-height: 36.4px;
    margin-bottom: 15px;
    margin-top: -10px;
    width: calc(210px + (100vw - 767px) * (210 - 280) / (767 - 1023));

  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 33.6px;
    margin-bottom: 17px;
    width: calc(199px + (100vw - 320px) * (199 - 500) / (320 - 767));
  }
}

.about-us__text {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-tangaroa;
  margin: 0;
}


.about-us__img {
  @media screen and (min-width: 1024px) {
    min-width: 560px;
    min-height: 301px;
  }

  @media screen and (max-width: 1023px) {
  //  width: 324px;
   // height: 174.1px;
   width: calc(324px + (100vw - 768px) * (324 - 430.9) / (768 - 1023));
   height: calc(174.1px + (100vw - 768px) * (174.1 - 231.5) / (768 - 1023));;
  }

  @media screen and (max-width: 767px) {
    width: calc(290px + (100vw - 320px) * (290 - 694) / (320 - 767));
    height: calc(155.9px + (100vw - 320px) * (155.9 - 372.6) / (320 - 767));
  }
}
