.advantages {
  background-image: url("../img/advantages-desktop.jpg");
  background-color: $color-solitude;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 // padding: 170px 18% 282px 24.5%;
  height: 100%;
}
