.advantages {
  background-image: url("../img/advantages-desktop.jpg");
  background-color: $color-solitude;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 7.5%;

  @media screen and (max-width: 1023px) {
    background-image: url("../img/advantages-tablet.jpg");
    padding: 100px 5.9%;
}
}
.advantages__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  @media (min-width: 1024px) {
    max-width: 1160px;
}

@media screen and (max-width: 1023px) {
  width: 678px;
}
}
.advantages__title {
  font-family: "Montserrat Semibold", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  color: $color-tangaroa;
  margin: 0;
  margin-bottom: 60px;
  text-align: center;

  @media screen and (max-width: 1023px) {
    font-size: 26px;
    line-height: 39px;
}
}

.advantages__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 360px));
  grid-column-gap: 3.5%;
  grid-row-gap: 40px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    max-width: 1160px;
  }

  @media screen and (max-width: 1023px) {
    width: 678px;
    grid-template-columns: repeat(3, 206px);
    grid-column-gap: 4.4%;
    grid-row-gap: 40px;
}
}

.advantages__item-title {
  font-family: "Montserrat Medium", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $color-tangaroa;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1023px) {
  line-height: 25.2px;
}
}
.advantages__img {
  margin-bottom: 25px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 24px;
}
}
.advantages__text {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: $color-tangaroa;
  margin: 0;
}

.advantages__item {
  padding: 30px 8.3%;
  margin: 0;
  box-sizing: border-box;
  min-height: 241px;

  @media screen and (max-width: 1023px) {
    padding: 26px 16px 25px 20px;
    min-height: 310px;
}
}
