.catalog {
  background-color: $color-alice-blue;
  padding: 87px 8.6% 120px;

  @media screen and (max-width: 1023px) {
    padding: 90px 60px 100px;
  }

  @media screen and (max-width: 767px) {
    padding: 57px 7.8% 65px;
  }
}

.catalog__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 1024px) {
    max-width: 1130px;
  }

  @media screen and (max-width: 1023px) {
    width: 648px;
  }

  @media screen and (max-width: 767px) {
    width: calc(270px + (100vw - 320px) * (270 - 646) / (320 - 767));
    max-width: 646px;
  }
}

.catalog__title {
  font-family: "Montserrat Semibold", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  margin: 0;
  margin-bottom: 48px;
  text-align: center;
  color: $color-tangaroa;

  @media screen and (max-width: 1023px) {
    font-size: 26px;
    line-height: 39px;
  }


  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 260px));
  grid-column-gap: 2.7%;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: 1024px) {
    max-width: 1130px;
  }

  @media screen and (max-width: 1300px) {
    grid-template-columns: repeat(3, 260px);
    grid-column-gap: calc(17px + (100vw - 1024px) * (17 - 70) / (1024 - 1300));
    padding-right: calc(17px + (100vw - 1024px) * (17 - 78) / (1024 - 1300));
    padding-left: calc(17px + (100vw - 1024px) * (17 - 78) / (1024 - 1300));
  }

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 309px);
    width: 648px;
    grid-column-gap: 30px;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, minmax(245px, 300px));
    grid-column-gap: calc(15px + (100vw - 600px) * (15 - 70) / (600 - 767));
    width: calc(506px + (100vw - 600px) * (506 - 645) / (600 - 767));
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: minmax(270px, 646px);
    width: calc(270px + (100vw - 320px) * (270 - 646) / (320 - 767));
  }

  @media screen and (max-width: 319px) {
    grid-template-columns: minmax(230px, 270px);
    width: calc(230px + (100vw - 270px) * (230 - 270) / (270 - 319));
  }
}

.catalog__item {
  padding: 30px 9.6% 35px;
  min-height: 386px;
  background-color: $color-tangaroa;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  color: $color-alice-blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;

  @media screen and (max-width: 1023px) {
    padding: 35px;
    padding-top: 29px;
  }

  @media screen and (max-width: 767px) {
    padding: 29px 9.6% 35px;
  }
}

.catalog__item:hover,
.catalog__item:focus {
  background-image: none;
}


.catalog__text-wrapper {
  display: none;
}

.catalog__item:hover .catalog__text-wrapper,
.catalog__item:focus .catalog__text-wrapper {
  display: block;
}

.catalog__list:focus-within {
  outline: solid 1px $color-tangaroa;
}

.catalog__item--astoria {
  background-image: url("../img/astoria-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/astoria-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/astoria-mobile.webp");
  }
}

.catalog__item--elain {
  background-image: url("../img/minion-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/minion-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/minion-mobile.webp");
  }
}

.catalog__item--atlantis {
  background-image: url("../img/atlantis-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/atlantis-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/atlantis-mobile.webp");
  }
}

.catalog__item--odessey {
  background-image: url("../img/odessey-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/odessey-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/odessey-mobile.webp");
  }
}

.catalog__item--olympia {
  background-image: url("../img/olympia-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/olympia-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/olympia-mobile.webp");
  }
}

.catalog__item--avrora {
  background-image: url("../img/avrora-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/avrora-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/avrora-mobile.webp");
  }
}

.catalog__item--leonor {
  background-image: url("../img/leonor-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/leonor-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/leonor-mobile.webp");
  }
}

.catalog__item--minion {
  background-image: url("../img/minion-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/minion-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/minion-mobile.webp");
  }
}

.catalog__item-title {
  font-family: "Montserrat Medium", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
}

.catalog__item-title--up {
  margin-bottom: 13px;
}

.catalog__item:hover .catalog__item-title--down,
.catalog__item:focus .catalog__item-title--down {
  display: none;
}

.catalog__item-title--down {
  margin-bottom: -12px;
  margin-left: 3px;

  @media screen and (max-width: 1023px) {
    margin-bottom: -8px;
    margin-left: 0;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: -17px;
  }

  @media screen and (max-width: 600px) and (min-width: 510px) {
    color: $color-tangaroa;
    font-family: "Montserrat Bold", "Arial", sans-serif;
    font-weight: 700;
  }
}

.catalog__item-text {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  margin: 0;
  margin-bottom: 11px;
}

.catalog__item-text:last-of-type {
  margin-bottom: 25px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 23px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 26px;
  }
}

.catalog__item-text--subtitle {
  font-family: "Montserrat Medium", "Arial", sans-serif;
  font-weight: 500;
  margin-bottom: 2px;
}

.catalog__button {
  background-color: $color-alice-blue;
  color: $color-tangaroa;
  font-family: "Montserrat Semibold", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  padding: 7px 18% 10px;
  text-align: center;
  margin: 0;
  display: block;
  width: calc(100px + (210 - 100) * ((100vw - 500px) / (1366 - 500)));

  @media screen and (min-width: 1300px) {
    max-width: 210px;
  }

  @media screen and (max-width: 1300px) {
    width: 210px;
  }

  @media screen and (max-width: 1023px) {
    width: 239px;
  }

  @media screen and (max-width: 767px) {
    width: calc(190px + (100vw - 600px) * (190 - 240) / (600 - 767));
    padding: 9px 23.6% 7px;
  }

  @media screen and (max-width: 600px) {
    width: calc(220px + (100vw - 320px) * (220 - 408) / (320 - 600));
    max-width: 408px;
  }

  @media screen and (max-width: 319px) {
    font-size: 12px;
    line-height: 19px;
  }
}

.catalog__button:hover,
.catalog__button:focus {
  background-color: $color-pale-cornflower-blue;
}
