.catalog {
  background-color: $color-alice-blue;
  padding: 87px 8.6% 120px;

  @media screen and (max-width: 1023px) {
    padding: 90px 7.8% 100px;
  }

  @media screen and (max-width: 767px) {
    padding: 57px 7.8% 65px;
  }
}

.catalog__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 1024px) {
    max-width: 1130px;
  }

  @media screen and (max-width: 1023px) {
    // width: 648px;
    width: calc(648px + (100vw - 768px) * (648 - 862.5) / (768 - 1023));
  }

  @media screen and (max-width: 767px) {
    width: calc(270px + (100vw - 320px) * (270 - 646) / (320 - 767));
    max-width: 646px;
  }
}

.catalog__title {
  font-family: "Montserrat Semibold", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  margin: 0;
  margin-bottom: 48px;
  text-align: center;
  color: $color-tangaroa;

  @media screen and (max-width: 1023px) {
    font-size: 26px;
    line-height: 39px;
  }


  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 260px));
  grid-column-gap: 2.7%;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: 1024px) {
    max-width: 1130px;
  }

  @media screen and (max-width: 1300px) {
    grid-template-columns: repeat(3, 260px);
    grid-column-gap: calc(17px + (100vw - 1024px) * (17 - 70) / (1024 - 1300));
    padding-right: calc(17px + (100vw - 1024px) * (17 - 78) / (1024 - 1300));
    padding-left: calc(17px + (100vw - 1024px) * (17 - 78) / (1024 - 1300));
  }

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, minmax(309px, 410px));
    // width: 648px;
    width: calc(648px + (100vw - 768px) * (648 - 862.5) / (768 - 1023));
    //grid-column-gap: 30px;
    grid-column-gap: 4.6%;
    padding: 0;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, minmax(245px, 300px));
    grid-column-gap: calc(15px + (100vw - 600px) * (15 - 70) / (600 - 767));
    width: calc(506px + (100vw - 601px) * (506 - 645) / (601 - 767));
    grid-template-rows: calc(410px + (100vw - 600px) * (410 - 424.6) / (600 - 767));
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: minmax(270px, 646px);
    width: calc(270px + (100vw - 320px) * (270 - 646) / (320 - 767));
    grid-template-rows: calc(386px + (100vw - 320px) * (443.9 - 922.5) / (320 - 767));
  }

  @media screen and (max-width: 319px) {
    grid-template-columns: minmax(230px, 270px);
    width: calc(230px + (100vw - 270px) * (230 - 270) / (270 - 319));
    grid-template-rows: calc(386px + (100vw - 270px) * (386 - 443.9) / (270 - 319));
  }
}

.catalog__list:focus,
.catalog__list:hover,
.catalog__list:focus-within {
  outline: none;
}

.catalog__item {
  padding: 30px 9.6% 35px;
  min-height: 386px;
  background-color: $color-tangaroa;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  color: $color-alice-blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  //overflow: scroll;

  @media screen and (min-width: 1365px) {
    max-height: 390px;
  }

  @media screen and (min-width: 1299px) and (max-width: 1365px) {
    height: calc(440px + (100vw - 1300px) * (440 - 420) / (1300 - 1365));
  }

  @media screen and (min-width: 1023px) and (max-width: 1299px) {
    height: 389px;
  }

  @media screen and (max-width: 1023px) {
    padding: 35px 11.3% 29px;
    height: calc(386px + (100vw - 768px) * (386 - 509.5) / (768 - 1023));
  }


  @media screen and (max-width: 767px) {
    padding: 29px 9.6% 35px;
    height: calc(410px + (100vw - 600px) * (410 - 424.6) / (600 - 767));
  }

  @media screen and (min-width: 601px) and (max-width: 767px) {
    min-height: 347.4px;
  }

  @media screen and (max-width: 600px) {
    height: calc(386px + (100vw - 320px) * (443.9 - 922.5) / (320 - 767));
  }

  @media screen and (max-width: 319px) {
    height: calc(386px + (100vw - 270px) * (386 - 443.9) / (270 - 319));
  }
}

.catalog__item:hover,
.catalog__item:focus {
  background-image: none;
  justify-content: center;
}


.catalog__text-wrapper {
  display: none;
  overflow: scroll;
}

/*
.catalog__text-wrapper::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: $color-alice-blue;
    position: absolute;
    top: -10px;
    left: -10px;

}
*/

.catalog__item:hover .catalog__text-wrapper,
.catalog__item:focus .catalog__text-wrapper {
  display: block;
}

.catalog__item--astoria {
  background-image: url("../img/astoria-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/astoria-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/astoria-mobile.webp");
  }
}

.catalog__item--elain {
  background-image: url("../img/minion-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/minion-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/minion-mobile.webp");
  }
}

.catalog__item--atlantis {
  background-image: url("../img/atlantis-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/atlantis-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/atlantis-mobile.webp");
  }
}

.catalog__item--odessey {
  background-image: url("../img/odessey-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/odessey-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/odessey-mobile.webp");
  }
}

.catalog__item--olympia {
  background-image: url("../img/olympia-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/olympia-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/olympia-mobile.webp");
  }
}

.catalog__item--avrora {
  background-image: url("../img/avrora-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/avrora-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/avrora-mobile.webp");
  }
}

.catalog__item--leonor {
  background-image: url("../img/leonor-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/leonor-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/leonor-mobile.webp");
  }
}

.catalog__item--minion {
  background-image: url("../img/minion-desktop.jpg");

  @media screen and (max-width: 1023px) {
    background-image: url("../img/minion-tablet.jpg");
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/minion-mobile.webp");
  }
}

.catalog__item-title {
  font-family: "Montserrat Medium", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
}

.catalog__item-title--up {
  margin-bottom: 13px;
}

.catalog__item:hover .catalog__item-title--down,
.catalog__item:focus .catalog__item-title--down {
  display: none;
}

.catalog__item-title--down {
  margin-bottom: -12px;
  margin-left: 3px;

  @media screen and (max-width: 1023px) {
    margin-bottom: -3px;
    margin-left: 0;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: -17px;
  }
}

.catalog__item-text {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  margin: 0;
  margin-bottom: 11px;
}

.catalog__item-text:last-of-type {
  margin-bottom: 25px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 23px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 26px;
  }
}

.catalog__item-text--subtitle {
  font-family: "Montserrat Medium", "Arial", sans-serif;
  font-weight: 500;
  margin-bottom: 2px;
}

.catalog__button {
  background-color: $color-alice-blue;
  color: $color-tangaroa;
  font-family: "Montserrat Semibold", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  padding: 7px 18% 10px;
  text-align: center;
  margin: 0;
  display: block;
  width: calc(100px + (210 - 100) * ((100vw - 500px) / (1366 - 500)));
  user-select: none;

  @media screen and (min-width: 1366px) {
    max-width: 210px;
  }

  @media screen and (min-width: 1301px) and (max-width: 1365px) {
    width: calc(200px + (100vw - 1301px) * (200 - 209.7) / (1301 - 1365));
    padding: 7px 15% 10px;
  }

  @media screen and (max-width: 1300px) {
    width: 210px;
  }

  @media screen and (max-width: 1023px) {
    width: calc(239px + (100vw - 768px) * (239 - 317) / (768 - 1023));
  }

  @media screen and (max-width: 767px) {
    width: calc(197px + (100vw - 600px) * (198 - 230) / (600 - 767));
    padding: 9px 23.6% 7px;
  }

  @media screen and (max-width: 600px) {
    width: calc(218px + (100vw - 320px) * (218 - 408.4) / (320 - 600));
    max-width: 408px;
  }

  @media screen and (max-width: 319px) {
    font-size: 12px;
    line-height: 19px;
  }
}

.catalog__button:hover {
  background-color: $color-pale-cornflower-blue;
}
