.contacts {
  background-color: $color-whisper;;
  padding: 120px 7.5% 122px;

  @media screen and (max-width: 1023px) {
    padding: 100px 45px;
}

@media screen and (max-width: 767px) {
  padding: 65px 4.7%;
}
}

.contacts__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    max-width: 1160px;
}
@media screen and (max-width: 1023px) {
  width: 678px;
}

@media screen and (max-width: 767px) {
  width: calc(290px + (100vw - 320px) * (290 - 694) / (320 - 767));
  max-width: 694px;
  flex-direction:column-reverse;
}
}

.contacts__text-wrapper {
  width: calc(250px + (500 - 250) * ((100vw - 500px) / (1366 - 500)));

  @media (min-width: 1024px) {
max-width: 500px;
}
@media screen and (max-width: 1023px) {
  width: 324px;
}
@media screen and (max-width: 767px) {
  width: calc(290px + (100vw - 320px) * (290 - 694) / (320 - 767));
  max-width: 694px;
  margin-bottom: 43px;
}
}

.contacts__title {
  font-family: "Montserrat Medium", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 32px;
  color: $color-tangaroa;

  @media screen and (max-width: 1023px) {
    margin-bottom: 24px;
    margin-top: -1px;
}
}

.contacts__list {
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-family: "Montserrat Regular", "Arial", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
list-style-type: none;
margin: 0;
padding: 0;
justify-content: center;
color: $color-tangaroa;
}

.contacts__img {
  margin: 0;
  margin-right: 6px;
  vertical-align: middle;
}

.contacts__img--pin {
  @media screen and (max-width: 1023px) {
 margin-top: 8px;

}
}

.contacts__img--phone {
  vertical-align: top;
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  margin-bottom: 23px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 20px;
}
}
.contacts__item:last-of-type {
  margin-bottom: 0;
}

.contacts__text {
  @media (min-width: 1024px) {
  br {
display: none;
  }
}
}


.contacts__link:hover,
.contacts__link:focus {
color: $color-deep-sky-blue;
}


.contacts__link {
  cursor: pointer;
}

.contacts iframe {
  border: none;
  display: block;
  width: calc(200px + (560 - 200) * ((100vw - 500px) / (1366 - 500)));
  height: 306px;
  background-image: url("../img/map-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 1023px) {
    width: 324px;
    height: 335px;
  }

@media screen and (max-width: 767px) {
 width: calc(290px + (100vw - 320px) * (290 - 694) / (320 - 767));
 height: calc(316px + (100vw - 320px) * (316 - 790) / (320 - 767));
 }
}
