.footer {
  background-color: $color-tangaroa;
  padding: 63px 7.5%;
}


.footer__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1160px;
  align-items: center;
}

.footer__img {
  margin: 0;
  margin-right: 40px;
}
