.form {
  background-image: url("../img/form-desktop.jpg");
  background-color: $color-pale-cornflower-blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 11.9% 48px;

  @media screen and (max-width: 1023px) {
    background-image: url("../img/form-tablet.jpg");
    padding: 97px 175px 100px;
  }

  @media screen and (max-width: 767px) {
    background-image: url("../img/form-mobile.webp");
    padding: 68px 4.7% 65px;
    min-height: 760px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: 1024px) {
    max-width: 1040px;
  }

  @media screen and (max-width: 1023px) {
    width: 419px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    width: calc(290px + (100vw - 320px) * (290 - 694) / (320 - 767));
  }
}

.form__text-wrapper {
  @media (min-width: 1024px) {
    max-width: 493px;
  }

  @media screen and (max-width: 1023px) {
    width: 419px;
  }

  @media screen and (max-width: 767px) {
    width: calc(290px + (100vw - 320px) * (290 - 694) / (320 - 767));
  }
}

.form__title {
  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 10px;

  br {
    display: none;
  }

  @media screen and (max-width: 1232px) {
    br {
      display: block;
    }
  }

  @media screen and (max-width: 1023px) {
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 5px;
    text-align: center;

    br {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 31.2px;
    margin-bottom: 13px;
  }
}

.form__text {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 0;

  br {
    display: none;
  }

  @media screen and (max-width: 1023px) {
    font-size: 18px;
    line-height: 27px;
    margin: 0 33px 53px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    max-width: 352px;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 22.4px;
    margin: 0;
    margin-bottom: 35px;
    width: calc(290px + (100vw - 320px) * (290 - 694) / (320 - 767));

    br {
      display: block;
    }
  }
}

.form__content-wrapper {
  display: flex;
  width: calc(350px + (403 - 350) * ((100vw - 500px) / (1366 - 500)));
  border: none;
  margin: 0;
  padding: 42px 4.8%;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $color-tangaroa;
  min-height: 455px;

  @media (min-width: 1024px) {
    max-width: 403px;
  }

  @media screen and (max-width: 1023px) {
    padding: 45px 50px;
    width: 403px;
  }

  @media screen and (max-width: 767px) {
    width: calc(290px + (100vw - 320px) * (290 - 694) / (320 - 767));
    max-width: 694px;
    padding: 35px 10% 42px;
  }

  @media screen and (max-width: 319px) {
    width: calc(230px + (100vw - 270px) * (230 - 270) / (270 - 319));
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 767px) {
    width: calc(230px + (100vw - 320px) * (230 - 297) / (320 - 767));
    max-width: 297px;
  }

  @media screen and (max-width: 319px) {
    width: calc(177px + (100vw - 270px) * (177 - 230) / (270 - 319));
  }
}

.form__legend {
  font-family: "Montserrat Medium", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
  margin-bottom: 28px;
  color: $color-alice-blue;

  @media screen and (max-width: 1023px) {
    margin-bottom: 25px;
  }

  @media screen and (max-width: 767px) {
    line-height: 25.2px;
    text-align: center;
    margin-bottom: 26px;
  }
}

.form__input {
  box-sizing: border-box;
  width: 305px;
  height: 43px;
  margin-bottom: 20px;
  border: none;
  padding: 11px 16px;
  background-color: $color-alice-blue;
  cursor: text;

  @media screen and (max-width: 1023px) {
    width: 303px;
  }

  @media screen and (max-width: 767px) {
    width: calc(230px + (100vw - 320px) * (230 - 540) / (320 - 767));
    max-width: 540px;
  }

  @media screen and (max-width: 319px) {
    width: calc(177px + (100vw - 270px) * (177 - 230) / (270 - 319));
  }
}

.form__input:hover {
  background-color: $color-pale-cornflower-blue;
}

.form__input--wrapper {
  padding: 0;
  background-color: transparent;
  position: relative;
}

.form__input::placeholder {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $color-transparent-tangaroa;
}


.form__checkbox-text {
  position: relative;
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  color: $color-alice-blue;
  margin: 0;
  margin-top: 3px;
  cursor: pointer;
  width: auto;
  box-sizing: border-box;
  user-select: none;


  @media screen and (max-width: 767px) {
    line-height: 12px;
    margin-top: 0;
  }
}

.form__label--checkbox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 23px;
  cursor: pointer;
  margin: 0;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    padding-left: 28px;
  }
}

.form__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: none;
  background-color: $color-alice-blue;

  @media screen and (max-width: 767px) {
    width: 20px;
    height: 20px;
  }
}

.form__checkbox[type="checkbox"]:checked + .form__mark::after {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  content: "";
}

.form__label--checkbox:hover .form__checkbox-text {
  color: $color-pale-cornflower-blue;
}

.form__label--checkbox:focus-within .form__checkbox-text {
  outline: solid 2px $color-pale-cornflower-blue;
}

.form__button {
  box-sizing: border-box;
  width: 305px;
  padding: 13px 29% 10px;
  font-family: "Montserrat Semibold", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;
  user-select: none;

  @media screen and (max-width: 1023px) {
    width: 303px;
    margin-top: 2px;
  }

  @media screen and (max-width: 767px) {
    width: calc(230px + (100vw - 320px) * (230 - 540) / (320 - 767));
    max-width: 540px;
    padding: 10px 22%;
    margin-top: -3px;
  }

  @media screen and (max-width: 319px) {
    width: calc(177px + (100vw - 270px) * (177 - 230) / (270 - 319));
  }
}

.form__button:hover {
  background-color: $color-pale-cornflower-blue;
}


.form__button-wrapper {
  @media screen and (max-width: 767px) {
    width: calc(230px + (100vw - 320px) * (230 - 540) / (320 - 767));
    max-width: 540px;
  }

  @media screen and (max-width: 319px) {
    width: calc(177px + (100vw - 270px) * (177 - 230) / (270 - 319));
  }
}

.form__checkbox-wrapper {
  position: relative;
}

.form__data--index {
  position: relative;
}
