.header {
  background-image: url("../img/welcome-desktop.jpg");
  background-color: $color-prussian-blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 // padding: 170px 18% 282px 24.5%;
  height: 100%;
}
