.input-message {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: $color-deep-sky-blue;
  position: absolute;
  bottom: -17px;
  left: 25px;
}
