/*
.nav--footer {
  margin: 0;
  margin-right: 29.5%;

  @media screen and (max-width: 1023px) {
    margin-right: 87px;
  }
}
*/
.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
 // width: calc(550px + (100vw - 1024px) * (550 - 599) / (1024 - 1366));
 width: 599px;
   font-family: "Montserrat Medium", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;

  @media (min-width: 1024px) {
  max-width: 599px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 14px;
    line-height: 17px;
 width: 500px;
}
}

.nav__list--footer {
  @media screen and (max-width: 1023px) {
    font-size: 12px;
    line-height: 14.6px;
    width: 441px;
}
}

.nav__link {
  color: $color-alice-blue;
  text-decoration: none;
  vertical-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__item{
  margin-right: 5.5%;

  @media screen and (max-width: 1023px) {
margin-right: 22px;
}
}

.nav__item--header:nth-of-type(4),
.nav__item--footer:nth-of-type(4) {
  margin-right: 0;
}
