/*
.nav--footer {
  margin: 0;
  margin-right: 29.5%;

  @media screen and (max-width: 1023px) {
    margin-right: 87px;
  }
}
  */

.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  // width: calc(550px + (100vw - 1024px) * (550 - 599) / (1024 - 1366));
  width: 650px;
  font-family: "Montserrat Medium", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;

  @media (min-width: 1024px) {
 //   max-width: 594px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 14px;
    line-height: 17px;
    width: 550px;
  }
}

.nav__list--header {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__img--opened {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__img--opened.is-active {
  @media screen and (max-width: 767px) {
    display: block;
    color: $color-tangaroa;
    margin: 0;
    margin-left: 13px;

  }
}

.nav__img--closed {
  @media screen and (max-width: 767px) {
    color: $color-alice-blue;
  }
}

.nav__img--closed.is-invalid {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__img:hover {
  @media screen and (max-width: 767px) {
    color: $color-deep-sky-blue;
  }
}

.nav__list--header.is-active {
  @media screen and (max-width: 767px) {
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 89%;
    background-color: $color-alice-blue;
    color: $color-tangaroa;
    font-family: "Montserrat Medium", "Arial", sans-serif;
    font-weight: 500;
    padding: 84px 26px;
    font-size: 18px;
    line-height: 21.9px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    align-self: flex-end;
    height: 100%;
  }

  @media screen and (max-width: 319px) {
    width: calc(230px + (100vw - 270px) * (230 - 270) / (270 - 319));
  }
}

.nav__list--footer {
  margin-right: 30px;

  @media screen and (max-width: 1023px) {
    font-size: 12px;
    line-height: 14.6px;
    width: 441px;

  }

  @media screen and (max-width: 767px) {
    margin-right: 0;
    flex-direction: column;
    width: calc(290px + (100vw - 320px) * (290 - 694) / (320 - 767));
  }
}

.nav__link {
  color: $color-alice-blue;
  text-decoration: none;
  vertical-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  width:fit-content;
}

.nav__link--header {
  @media screen and (max-width: 767px) {
    color: $color-tangaroa;
  }
}

.nav__link:hover {
  color: $color-deep-sky-blue;
}

.nav__item {
  margin-right: 5.5%;
  margin-bottom: 20px;

  @media screen and (max-width: 1023px) {
    margin-right: 22.5px;
  }

  @media screen and (max-width: 767px) {
    margin: 0;
    margin-bottom: 30px;
  }
}

.nav__item--header {
  @media screen and (max-width: 767px) {
    margin-bottom: 28px;
    width: 240px;
  }

  @media screen and (max-width: 319px) {
    width: 190px;
  }
}

.nav__item--header:nth-of-type(4),
.nav__item--footer:nth-of-type(4) {
  margin-right: 0;
}

.nav__item--footer {
  @media screen and (max-width: 1023px) {
    margin-right: 23px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 18px;
  }
}

.nav__toggle {
  display: none;

  @media screen and (max-width: 767px) {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 12.5px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
}

