
.welcome{
width: 100%;

@media (min-width: 1024px) {
max-width: 1160px;
}
@media screen and (max-width: 1023px) {
width: 678px;
}

@media screen and (max-width: 767px) {
  width: calc(259px + (100vw - 320px) * (259 - 622) / (320 - 767));
  max-width: 622px;
}
}
.welcome__title {
  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 65.8px;
  margin: 197px 8.2% 11px;
 color: $color-alice-blue;
 text-shadow: 0 4px 4px $color-transparent;

 @media screen and (max-width: 1023px) {
  font-size: 50px;
  line-height: 60.9px;
  margin: 217px 5.9% 12px 0;
}
@media screen and (max-width: 767px) {
  font-size: 36px;
  line-height: 45px;
  margin: 143px 0 25px;
}
}
.welcome__text {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.4px;
  margin: 0 8.2%;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px $color-transparent;

  @media screen and (max-width: 1023px) {
    font-size: 18px;
    line-height: 21.9px;
    margin: 0;
}

@media screen and (max-width: 767px) {
  font-size: 16px;
  line-height: 22.4px;
}
}
